#sobreMim {
    padding: 150px 0 90px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .ajustes {
        padding:  0 30px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;        gap: 30px;

        .meuPerfil {
            img{
                width: 100%;
                max-width: 300px;
                min-width: 280px;

                filter: opacity(80%);
                transition: 0.4s;
                border-left: 5px solid #af0000;

                &:hover {
                    cursor: pointer;

                    border-left: none;
                    filter: opacity(100%); 
                    transform: scale(1.02);
                }
            }            
        }

        .informacoes {
            width: 100%;
            max-width: 450px;
            font-family: 'Roboto', sans-serif;

            h2 {
                font-size: 2rem;
                margin: 50px 0 30px 0;
            }

            p {
                font-family: 'Inter', sans-serif;
                font-size: 1.7rem;
            }
        }
    }
}

h1 {
    text-transform: uppercase;
    font-size: 2.4rem;
    border-left: 4px solid #CD0000;
    padding: 0 10px 0;
}

@media (max-width: 768px) {

    #sobreMim {
        padding: 90px 0 90px 0;

        .ajustes {
            flex-direction: column;
        }
    }

    .informacoes {
        display: block;

    }

}